{% extends 'base.html'%}

{% block tittle %}
Sign Up!
{% endblock tittle %}

{% block content %}
<main>
    <div>
        <h1>Sign Up!!</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>SignUp</button>
            </form>
    </div>
</main>
{% endblock content %}
